@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background:
  linear-gradient(217deg, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0) 70%),
  linear-gradient(127deg, rgba(0, 255, 0, 0.7), rgba(0, 255, 0, 0) 70%),
  linear-gradient(336deg, rgba(0, 0, 255, 0.7), rgba(0, 0, 255, 0) 70%);
}

.app {
  margin: 0 auto;
  padding: 24px;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.sliderWrapper{
  overflow: scroll;
  height: 100vh;
}

.bg {
  position: absolute;
  right: -5%;
  bottom: 7%;
  height: auto;
  max-width: 100%;
  pointer-events: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.slide-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 8px;
  width: fit-content;
}

.price {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

h2, p {
  margin: 0;
}

.img-slider .swiper-pagination{
  bottom:18% !important;
}

.info-slider .swiper-pagination{
  bottom: -30px !important;
}

.info-slider {
  overflow-y: visible !important;
}

.img-slider .swiper-button-prev,
.img-slider .swiper-button-next {
  top: unset !important;
  bottom: 4px !important;
  --swiper-navigation-size: 44px;
}

.info-block {
  border: 1px solid gray;
}

.table-title {
  padding: 10px;
  text-align: center;
  font-weight: 700;
}

.features {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 6px 12px;
}

@media (max-height: 1000px) {
  .bg{
    max-width: 50%;
  }
}

@media (max-height: 890px) {
  .bg {
    max-width: 40%;
  }
}

@media (max-height: 800px) {
  .bg{
    max-width: 35%;
  }

  .sliderWrapper{
    overflow: hidden;
    min-height: 90%;
  }

  .item-info{
    display: none;
  }

  .swiper-slide {
    font-size: 10px;
  }

  h1 {
    font-size: 22px;
  }

  .slide-item{
    padding-bottom: 50px;
  }

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-opacity: 1;
  }

  .img-slider .swiper-button-prev,
  .img-slider .swiper-button-next {
    top: 50% !important;
    --swiper-navigation-size: 36px;
    --swiper-navigation-sides-offset: 0;
  }
}

@media (max-height: 660px) {
  .sliderWrapper{
    overflow: scroll;
    height: 100vh;
  }

  .bg {
    display: none;
  }
}
